.slide-show {
  text-align: center;
}

.slide-show__container {
  width: 600px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0.5px 5px 5px rgba(0, 123, 255, 0.3);
}

.slide-show__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slide-show__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-show__btns {
  margin-top: 20px;
}

.slide-show__btns {
  gap: 5px;
  justify-content: center;
  display: flex;
}
.slide-show__btns .button {
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.button img {
  width: 100%;
  height: 100%;
}
