.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
}

.form input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form label {
  font-weight: bold;
  color: rgb(0, 123, 255);
}

.form .button-submit {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 50px auto 0;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

table th {
  background-color: rgb(0, 123, 255);
  color: white;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
  background-color: #f8d7da;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
  width: 70%;
  margin: auto;
  display: none;
}

.error {
  color: red;
}
