<header class="bg-white shadow-md">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <!-- Logo -->
    <h1 class="text-xl font-bold text-blue-600">StudentApp</h1>

    <!-- Links -->
    <nav class="space-x-6">
      <a
        routerLink="/"
        routerLinkActive="font-bold"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-gray-600 hover:text-blue-600 transition"
      >
        Home
      </a>

      <a
        routerLink="task-1"
        routerLinkActive="font-bold"
        class="text-gray-600 hover:text-blue-600 transition"
      >
        Task 1
      </a>

      <a
        routerLink="task-2"
        routerLinkActive="font-bold"
        class="text-gray-600 hover:text-blue-600 transition"
      >
        Task 2
      </a>
      <a
        routerLink="task-3"
        routerLinkActive="font-bold"
        class="text-gray-600 hover:text-blue-600 transition"
      >
        Task 3
      </a>
    </nav>
  </div>
</header>
